#menu {
    position: fixed; /* Keeps the menu fixed at the top of the screen */
    top: 0;
    left: 0;
    width: 100%; /* Menu width spans the full width of the viewport */
    height: 50px;
    background: #ebc17a;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds a subtle shadow for depth */
    z-index: 1000; /* Ensures the menu stays on top of other content */
    display: flex;
    justify-content: center; /* Centers menu items horizontally */
    align-items: center; /* Centers menu items vertically */
}

body {
    background-color: #f0d7ac; 
	padding-top: 110px;
}

#logo-container {
    position: relative;
    top: -60px; 
    z-index: 1010;
    display: flex;
    justify-content: center;
}

#menu ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
}

#menu li {
    display: inline; /* Displays the list items in a row */
    margin-right: 20px; /* Adds space between menu items */
}

#menu a {
    text-decoration: none; /* Removes underline from links */
    color: black; /* Sets the text color */
    font-size: 16px;
    font-weight: bold;
}

#menu a:hover, #menu a:focus {
    background-color: #f0f0f0; /* Changes background on hover/focus for visibility */
}

section{
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    padding: 20px;
	direction: rtl;
    text-align: right;
}
.section-title {
    text-align: center;
    font-size: 45px;
    color: #333;
}
.section p {
    font-size: 20px;
    line-height: 1.6;
    color: black;
    margin-bottom: 10px;
}
.section ul{
	list-style-type: disc; 
    padding-left: 20px;
}
.section li{
	margin-bottom: 10px;
    font-size: 18px;
}
.photo-gallery {
    column-count: 3;  
    column-gap: 10px; 
    width: 95%; 
    padding: 30px; 
}

.photo-gallery img {
    width: 100%; 
    display: block; 
    margin-bottom: 10px; 
    border-radius: 8px; 
}


.photo-gallery img:hover {
    transform: scale(1.05);
}
#playlist p{
    color: black;
    text-align: center;
    font-size: 20px;

}
#like {
    text-align: center; /* ממרכז את הכפתור בתוך האלמנט */
    padding: 20px;
    background-color: #f0d7ac; /* רקע עדין לאלמנט */
    border-radius: 10px; /* פינות מעוגלות */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* צל עדין להכבדה */
    width: fit-content;
    margin: 20px auto; /* ממרכז את האלמנט ומוסיף ריווח */
    border: 1px solid #e0e0e0; /* גבול עדין */
    display: flex; /* מאפשר יישור של תת-אלמנטים */
    align-items: center; /* ממרכז את התוכן בציר האנכי */
    height: 50px; /* גובה קבוע לקונטיינר */
}

.fb-like {
    margin-top: 0; /* מוסיף ריווח בחלק העליון */
}

/* הוספת אנימציה עדינה כאשר מרחפים מעל הכפתור */
.fb-like:hover {
    transform: scale(1.05); /* גדל את הכפתור ב-5% */
    transition: transform 0.3s ease; /* מחליק את התנועה */
}
